
.gradle/*
.idea/*
gradle/*
build/*
src/main/kotlin/mpdev/compiler/chapter_09_ix/*
src/main/kotlin/mpdev/compiler/chapter_08_viii/*
src/main/kotlin/verify/current/*
src/main/kotlin/mpdev/compiler/work_in_progress/*
src/main/kotlin/mpdev/compiler/tmp/*
prog*.txt
*.class
*.lock
*.bin
*.kotlin_module
*.kts


gradlew
gradle.*
gradlew.*
