
.gradle/*
.idea/*
gradle/*
build/*
lib/*
examples_tinsel/*
src/main/kotlin/verify/current/*
src/main/kotlin/mpdev/compiler/work_in_progress/*
src/main/kotlin/mpdev/compiler/tmp/*
*.iml
prog*.txt
testprog*.tnsl
testprog*.s
testout.s
*.class
*.lock
*.bin
*.kotlin_module
*.kts
_compiler.out/*.s

gradlew
gradle.*
gradlew.*
