
.gradle/*
.idea/*
gradle/*
build/*
src/main/kotlin/mpdev/compiler/chapter_10_x/*
src/main/kotlin/mpdev/compiler/chapter_11_xi/*
lib/*
examples_tinsel/*
src/main/kotlin/verify/current/*
src/main/kotlin/mpdev/compiler/work_in_progress/*
src/main/kotlin/mpdev/compiler/tmp/*
prog*.txt
*.class
*.lock
*.bin
*.kotlin_module
*.kts

gradlew
gradle.*
gradlew.*
